<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>編集画面</title>
</head>
<body>

  <form th:action="@{/tasks/update}" method="post">
    <input
            type="hidden"
            name="id"
            th:value="${task.id}">
    <h1>編集画面</h1>

    <p>ID: <span th:text="${task.id}"></span></p>

    <p>タイトル: <input
            type="text"
            name="title"
            th:value="${task.title}"></span></p>

    <button type="submit">
      保存
    </button>
  </form>
</body>
</html>